:root {
    --background-color: #212121;
    --primary-color : #4CAF50;
    // --accent-color: 
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}