@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --background-color: #212121;
  --primary-color: #4caf50;
  --accent-color: #42d89b;
  --font-color: #ffffff;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: "Poppins", Courier, monospace;
}

.header nav {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header nav .logo {
  font-size: larger;
}

.header nav .nav-links ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .nav-links ul li {
  text-decoration: none;
  padding: 0px 1.5em;
}

.header nav .nav-links ul li a {
  color: var(--font-color);
  text-decoration: none;
  letter-spacing: 0.2em;
}

.header nav .nav-links ul li a:hover {
  color: var(--accent-color);
}

.slider-nav {
  display: none;
}

.menu {
  display: none;
}

.banner-section {
  overflow: hidden;
}

.banner-section .container {
  overflow: hidden;
}

.banner-section .banner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.banner-section .about p:first-child {
  font-size: 1em;
}

.banner-section .about p:nth-child(2) {
  font-size: 4em;
}

.banner-section .about p:nth-child(3) {
  font-size: 1.5em;
}

.banner-section .about p:nth-child(4) {
  font-weight: bolder;
  margin-top: 20px;
  letter-spacing: 0.1em;
}

.banner-section .about .button-sec {
  margin-top: 3em;
}

.banner-section .about .button-sec a {
  margin-right: 3em;
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 1em;
  font-weight: bold;
}

.banner-section .banner-img {
  height: 550px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.banner-section .banner-img img {
  height: inherit;
  width: inherit;
  border-radius: 10px;
  position: absolute;
}

.about-me-section {
  margin-top: 5em;
}

.about-me-section p:first-child {
  font-size: 3em;
  padding: 0px 0px 0.3em 0px;
}

.about-me-section p:nth-child(2) {
  font-size: 1em;
  color: var(--primary-color);
  padding-bottom: 2em;
}

.about-me-section .about-me-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% auto;
      grid-template-columns: 30% auto;
}

.about-me-section .about-me-img {
  height: 550px;
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  overflow: hidden;
}

.about-me-section .about-me-img img {
  height: inherit;
  width: inherit;
  border-radius: 10px;
  position: absolute;
}

.about-me-section .about-me-content {
  padding-left: 10em;
}

.about-me-section .about-me-content :nth-child(3) {
  letter-spacing: 0.1em;
}

.about-me-section .about-me-content :nth-child(4) {
  letter-spacing: 0.1em;
  padding-top: 2em;
}

.about-me-section .about-me-content :nth-child(5) {
  letter-spacing: 0.1em;
  padding-top: 2em;
  font-style: italic;
  font-size: large;
  color: var(--accent-color);
}

.about-me-section .about-me-content :nth-child(6) {
  letter-spacing: 0.1em;
  padding-top: 1em;
  float: right;
}
/*# sourceMappingURL=index.css.map */